@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: #000;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
body{background: #f8f8f8;}
em,i{font-style: normal;}
img{font-size: 12px;vertical-align: middle;}
